body {
  font-family: 'Arial';
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 290px);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #767474;
}

.navbar h1 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 15px;
  text-align: center;
  color: #bd9b5d;
}

.navsocial {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  color: #767474;
}

.navlinks {
  text-align: center;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  position: relative;
}

.navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navlinks li {
  float: left;
}

.navlinks li a {
  color: #bd9b5d;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlinks ul :hover {
  color: #cccccc;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  border-color: rgba(204, 204, 204, 0.12);
}

.footer {
  width: 100%;
  bottom: 0;
  height: 150px;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #bd9b5d;
  padding-top: 25px;
  padding-bottom: 30px;
}

.socials {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 15px 10px 15px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.copyright {
  font-family: 'Comfortaa', cursive;
}
